<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
    </head>
    <body>
        <div th:fragment="fragment">
            <!-- floating boton chatbot -->
            <div class="custom-template">
                <div class="title">DogBot</div>
                <div class="custom-content">

                    <!--

                   aquí agrega contenido para el chat bot o en el interior de los div de abajo
                    <div class="switcher">

                    </div> -->
                </div>
                <div class="custom-toggle">
                    <img src="/assets/img/favicon.ico" alt="Custom Icon" class="custom-icon">
                </div>
            </div>
        </div>

    </body>
</html>
