<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
  </head>
  <body>
    <div th:fragment="fragment">
      <!-- Pie de página -->
      <footer class="footer">
        <div class="container-fluid d-flex justify-content-center">
          <nav class="pull-left">
            <ul class="nav">

              <li class="nav-item">
                <a class="nav-link" href="ruta/a/informacion-de-contacto.html"> Contacto </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="ruta/a/politica-de-privacidad.html"> Política de privacidad </a>
              </li>
            </ul>
          </nav>

        </div>
      </footer>
    </div>

  </body>
</html>
