<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Órdenes - Resueltas</title>
        <meta
                content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
                name="viewport"
        />
        <link
                rel="icon"
                href="/assets/img/kaiadmin/favicon.ico"
                type="image/x-icon"
        />
        <link th:href="@{/assets/css/style-SuperAdmin.css}" rel="stylesheet">
        <style>
            .dataTables_filter {
                display: none; /* Oculta el campo de búsqueda */
            }
            /* Centrar la paginación de DataTables */
            .dataTables_wrapper .dataTables_paginate {
                display: flex;

            }
        </style>
        <!-- Fonts and icons -->
        <script src="/assets/js/plugin/webfont/webfont.min.js"></script>
        <script>
            WebFont.load({
                google: { families: ["Public Sans:300,400,500,600,700"] },
                custom: {
                    families: [
                        "Font Awesome 5 Solid",
                        "Font Awesome 5 Regular",
                        "Font Awesome 5 Brands",
                        "simple-line-icons",
                    ],
                    urls: ["/assets/css/fonts.min.css"],
                },
                active: function () {
                    sessionStorage.fonts = true;
                },
            });
        </script>

        <!-- CSS Files -->
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/assets/css/plugins.min.css" />
        <link rel="stylesheet" href="/assets/css/kaiadmin.min.css" />
    </head>
    <body>
        <div class="wrapper">
            <!-- Reemplaza barra lateral con el fragmento de Thymeleaf -->
            <div th:replace="~{agente/fragments/barralateralagente :: body(activePage='ordenes',  activeSubPage='resueltas')}"></div>
            <!-- Fin barra lateral -->

            <div class="main-panel">
                <!-- Reemplaza navbar con el fragmento de Thymeleaf -->
                <div th:replace="~{agente/fragments/navbarheaderagente :: fragment}"></div>
                <!-- Fin Navbar -->
                <!-- Texto o contenido central -->
                <div class="container">
                    <div class="page-inner">
                        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
                            <div>
                                <h3 class="fw-bold mb-3">Lista de Todas las Órdenes</h3>
                                <h6 class="op-7 mb-2">
                                    Utiliza los filtros para buscar y gestionar las órdenes de los usuarios.
                                </h6>
                            </div>
                        </div>

                        <!-- Filtros -->
                        <div class="row">
                            <div class="col-md-12">
                                <form id="filtroForm" class="form-inline d-flex align-items-center">
                                    <div class="form-group mb-2 me-2">
                                        <label for="filterOrderNumber" class="mr-2">N° de Orden:</label>
                                        <input type="text" id="filterOrderNumber" class="form-control filtro-pequeno" placeholder="Ejemplo: 0001">
                                    </div>

                                    <div class="form-group mb-2 me-2">
                                        <label for="filterUserName" class="mr-2">Usuario:</label>
                                        <input type="text" id="filterUserName" class="form-control filtro-pequeno" placeholder="Ejemplo: Juan Pérez">
                                    </div>

                                    <div class="form-group mb-2 me-2">
                                        <label for="filterDate" class="mr-2">Fecha:</label>
                                        <input type="date" id="filterDate" class="form-control filtro-pequeno">
                                    </div>

                                    <button type="button" class="btn btn-dark mb-2 me-2" onclick="filtrarPorEstado()">Buscar</button>
                                    <button type="button" class="btn btn-outline-secondary mb-2" onclick="limpiarFiltro()">Limpiar Filtro</button>
                                </form>
                            </div>
                        </div>

                        <!-- Tabla -->
                        <div class="row mt-4">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table id="basic-datatables" class="display table table-striped table-hover">
                                                <thead class="text-center">
                                                    <tr>
                                                        <th>Número de Orden</th>
                                                        <th>Nombre del Usuario</th>
                                                        <th>Fecha de Última Actualización</th>
                                                        <th>Estado del Pedido</th>
                                                        <th>Acciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tablaOrdenes" class="text-center">
                                                    <tr th:each="orden : ${listaOrdenes}">
                                                        <td th:text="${orden.id}"></td>
                                                        <td th:text="${orden.usuario.nombre + ' ' + orden.usuario.apellido}"></td>
                                                        <td th:text="${#dates.format(orden.fecha, 'dd/MM/yyyy')}"></td>
                                                        <td>
                              <span th:text="${orden.estado}"
                                    th:classappend="${orden.estado == 'Recibido'} ? 'badge badge-success' :
                                           (${orden.estado == 'En Ruta'} ? 'badge badge-primary' :
                                           (${orden.estado == 'En Aduanas'} ? 'badge badge-warning' :
                                           (${orden.estado == 'Arribo al País'} ? 'badge badge-info' :
                                           (${orden.estado == 'En Proceso'} ? 'badge badge-black' :
                                           (${orden.estado == 'En Validación'} ? 'badge badge-secondary' :
                                           (${orden.estado == 'Cancelado'} ? 'badge badge-danger' : 'badge badge-count'))))))">
                              </span>
                                                        </td>
                                                        <td>
                                                            <div class="dropdown">
                                                                <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                                    <i class="fas fa-ellipsis-v"></i>
                                                                </button>
                                                                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton1">
                                                                    <li><a class="dropdown-item" th:href="@{'/agente/detallesorden' + '?id=' + ${orden.id}}">Ver detalles de orden</a></li>
                                                                    <li><a class="dropdown-item" th:href="@{'/agente/updaterorden' + '?id=' + ${orden.id}}">Actualizar estado</a></li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Fin contenido central   -->
                <div th:replace="~{agente/fragments/piedepagina :: fragment}"></div>
            </div>
        </div>

        <!--Core JS Files   -->
        <script src="/assets/js/core/jquery-3.7.1.min.js"></script>
        <script src="/assets/js/core/popper.min.js"></script>
        <script src="/assets/js/core/bootstrap.min.js"></script>

        <!-- jQuery Scrollbar -->
        <script src="/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
        <!-- Datatables -->
        <script src="/assets/js/plugin/datatables/datatables.min.js"></script>

        <!-- Kaiadmin JS -->
        <script src="/assets/js/kaiadmin.min.js"></script>

        <script>
            // Funciones de filtro
            function filtrarPorEstado() {
                const orderNumber = document.getElementById("filterOrderNumber").value;
                const userName = document.getElementById("filterUserName").value.toLowerCase();
                const selectedDate = document.getElementById("filterDate").value;

                // Obtener el DataTable
                const table = $('#basic-datatables').DataTable();

                // Limpiar filtros previos
                $.fn.dataTable.ext.search = [];

                // Filtrar por Número de Orden, Usuario y Fecha
                $.fn.dataTable.ext.search.push(
                    function(settings, data, dataIndex) {
                        const orderNumberCell = data[0];
                        const userNameCell = data[1].toLowerCase();
                        const dateCell = data[2];

                        // Condiciones de filtro
                        const matchesOrderNumber = orderNumber === "" || orderNumberCell.includes(orderNumber);
                        const matchesUserName = userName === "" || userNameCell.includes(userName);
                        const dateMatch = selectedDate === "" || formatDate(dateCell) === selectedDate;

                        return matchesOrderNumber && matchesUserName && dateMatch;
                    }
                );

                // Volver a dibujar la tabla
                table.draw();
            }

            function limpiarFiltro() {
                document.getElementById("filtroForm").reset();
                const table = $('#basic-datatables').DataTable();
                $.fn.dataTable.ext.search = [];
                table.search('').columns().search('').draw();
            }

            function formatDate(dateString) {
                const parts = dateString.split("/");
                if (parts.length === 3) {
                    const day = parts[0];
                    const month = parts[1];
                    const year = parts[2];
                    return `${year}-${month}-${day}`;
                }
                return "";
            }

            $(document).ready(function () {
                $('#basic-datatables').DataTable({
                    columnDefs: [
                        { type: 'num', targets: 0, className: 'dataTables_center' },
                        { targets: '_all', className: 'dataTables_center' }
                    ],
                    paging: true,
                    pageLength: 5,
                    lengthChange: false,
                    info: false,
                    language: {
                        search: "Buscar:",
                        lengthMenu: "Mostrar _MENU_ entradas por página",
                        info: "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                        paginate: {
                            previous: "Anterior",
                            next: "Siguiente"
                        }
                    }
                });
            });
        </script>
    </body>
</html>
